<div><input type="radio" name="options" [(ngModel)] = 'employeeCountSelectedRadioButton' value="all" (change)='getButtonSelectedValue()'>All<span>{{'('+all+')'}}</span>
    <input type="radio" name="options" [(ngModel)] = 'employeeCountSelectedRadioButton' value="male" (change)='getButtonSelectedValue()'>male<span>{{'('+male+')'}}</span>
    <input type="radio" name="options" [(ngModel)] = 'employeeCountSelectedRadioButton' value="female" (change)='getButtonSelectedValue()'>female<span>{{'('+female+')'}}</span>
</div>