<table>
    <tbody *ngFor="let data of employeeList">
        <tr>
            <td>{{data.Name}}</td><button (click)="checkAge(data.Name)"> Check Age </button>
        </tr>
    </tbody>
</table>
<form #f="ngForm" (click)="onSubmit(f)">
    <input type="text" [(ngModel)]="fullname" name="fullname">
    <input type="text" [(ngModel)]="email" name="email">
    <input type="text" [(ngModel)]="phone_no" name="phone_no">
    <input type="text" [(ngModel)]="address" name="address">
    <button type="submit">submit</button>
</form>
<br>
Entered Name is {{fullname}}