git 
<employee-count [all] = 'getTotalEmployeeCount()' 
[male] = 'getTotalMaleEmployeeCount()' 
 [female] = 'getTotalFemaleEmployeeCount()'
 (radioButtonSelectionChangingEvent)= "onEmployeeCountRadioSelectedChange($event)">
</employee-count>
<br><br>
<table>
  <thead>
    <th>Name</th>
    <th>pan_no</th>
    <th>email</th>
    <th>gender</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of employeeList" >
    <tr *ngIf = "employeeCountSelectedRadioButton == 'all' || 
    employeeCountSelectedRadioButton == data.gender ">
      <td>{{data.first_name | uppercase | addTitle:data.gender}}</td>
      <td>{{data.pan_no}}</td>
      <td>{{data.email}}</td>
      <td>{{data.gender}}</td>
    </tr>
  </ng-container>
  </tbody>

</table>
<br>

